<a href="https://colab.research.google.com/github/Samarth-DataScience/75-hard-of-python-practice/blob/main/Day%2016-python-(tuple)-%7Bset%7D-practice-set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


1. Create an empty tuple.
2. Define a tuple with three elements of different data types.
3. Access the second element of a tuple.
4. Concatenate two tuples.
5. Check if an element exists in a tuple.
6. Find the length of a tuple.
7. Create a tuple with a nested tuple.
8. Convert a list to a tuple.
9. Extract the last three elements of a tuple.
10. Count the occurrences of a specific element in a tuple.
11. Create an empty set.
12. Define a set with five integer elements.
13. Add an element to a set.
14. Remove an element from a set.
15. Check if two sets have any common elements.
16. Find the union of two sets.
17. Get the intersection of two sets.
18. Check if a set is a subset of another set.
19. Remove all elements from a set.
20. Convert a list to a set.
21. Create a string with your name.
22. Concatenate two strings.
23. Access the third character of a string.
24. Convert a string to uppercase.
25. Check if a substring is present in a string.
26. Replace a specific substring in a string.
27. Find the length of a string.
28. Count the occurrences of a particular character in a string.
29. Check if a string is numeric.
30. Reverse a string.

**1. Create an empty tuple.**

In [ ]:
empty_tuple = tuple()
print(type(empty_tuple))

<class 'tuple'>

**2. Define a tuple with three elements of different data types.**

In [ ]:
t1 = (2,3.5,'Different Data Types')
print(t1)
print(type(t1))

(2, 3.5, 'Different Data Types')
<class 'tuple'>

**3. Access the second element of a tuple.**

In [ ]:
print(f'The second element of the tuple is {t1[1]}')

The second element of the tuple is 3.5

**4. Concatenate two tuples.**

In [ ]:
t2 = (1,2,3,4,5,6)
t3 = t1+t2
print(t3)

(2, 3.5, 'Different Data Types', 1, 2, 3, 4, 5, 6)

**5. Check if an element exists in a tuple.**

In [ ]:
if 2 in t2:
  print('Item found')
else:
  print('Item does not exist')

Item found

**6. Find the length of a tuple.**

In [ ]:
print(f'The length of a tuple is: {len(t2)}')

The length of a tuple is: 6

**7. Create a tuple with a nested tuple.**

In [ ]:
t3 = (1,2,(3,4),(5,6,7))
print(t3)

(1, 2, (3, 4), (5, 6, 7))

**8. Convert a list to a tuple.**

In [ ]:
l1 = [1,2,3,4,5,6,5]
print(f'list: {l1}')
t1 = tuple(l1)
print(f'tuple: {t1}')

list: [1, 2, 3, 4, 5, 6, 5]
tuple: (1, 2, 3, 4, 5, 6, 5)

**9. Extract the last three elements of a tuple.**

In [ ]:
print(t1[-3:])

(5, 6, 5)

10. Count the occurrences of a specific element in a tuple.

In [ ]:
element = int(input('Enter the element you want to find out: '))
count_element = t1.count(element)
print(f'Total count of the element is/are: {count_element}')

Enter the element you want to find out: 5
Total count of the element is/are: 2

11. Create an empty set.
12. Define a set with five integer elements.
13. Add an element to a set.
14. Remove an element from a set.
15. Check if two sets have any common elements.
16. Find the union of two sets.
17. Get the intersection of two sets.
18. Check if a set is a subset of another set.
19. Remove all elements from a set.
20. Convert a list to a set.
21. Create a string with your name.
22. Concatenate two strings.
23. Access the third character of a string.
24. Convert a string to uppercase.
25. Check if a substring is present in a string.
26. Replace a specific substring in a string.
27. Find the length of a string.
28. Count the occurrences of a particular character in a string.
29. Check if a string is numeric.
30. Reverse a string.

**11. Create an empty set.**

In [ ]:
empty_set = set()
print(empty_set)
print(type(empty_set))

set()
<class 'set'>