<a href="https://colab.research.google.com/github/Samarth-DataScience/Python-75-Hard-Challenge/blob/main/Day_58_python_classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a class representing a car with attributes like make, model, and year. Implement a method in the class to calculate the age of the car.

2. Create a base class 'Shape' with methods to calculate area and perimeter. Derive classes 'Rectangle' and 'Circle' from 'Shape' with their own implementations.

3. Design a class representing a bank account with private attributes for balance and account number. Implement methods for deposit and withdrawal.

4. Write a function to reverse a list.

5. Implement a function to find the second largest element in a list.

6. Write a function to check if a given string is a palindrome.

7. Create a function to count the occurrences of each character in a string.

8. Write a program to concatenate two tuples.

9. Implement a function to find the index of an element in a tuple.

10. Create a function to find the intersection of two sets.

11. Write a program to remove duplicates from a list using sets.

12. Write a function to merge two dictionaries.

13. Implement a program to find the keys with the maximum value in a dictionary.

14. Write a function that takes a list of numbers and returns their sum.

15. Implement a function to check if a number is prime.

16. Use a lambda function to square each element in a list.

17. Write a program to filter even numbers from a list using a lambda function.

18. Use the map function to convert a list of temperatures from Celsius to Fahrenheit.

19. Write a program to capitalize the first letter of each word in a list of strings using map.

20. Implement a program to filter out numbers less than 10 from a list using the filter function.

21. Write a function to filter palindromes from a list of strings.

22. Use the reduce function to find the product of elements in a list.

23. Implement a program to find the maximum element in a list using reduce.

24. Write a function to check if a number is a perfect square.

25. Create a class representing a book with attributes like title, author, and publication year. Implement a method to display information about the book.

26. Design a class representing a geometric shape with methods to calculate area and perimeter. Derive classes for specific shapes like rectangle and circle.

27. Write a program to find the common elements between two lists.

28. Implement a function to remove vowels from a given string.

29. Write a program to sort a list of strings based on the length of each string.

30. Create a function to calculate the factorial of a given number.

**1. Create a class representing a car with attributes like make, model, and year. Implement a method in the class to calculate the age of the car.**

In [ ]:
class car:
  make = 'Toyta'
  model = 'XUV5600'
  year =  2021

  def warranty(self,year):
    age = 2023 - year
    return print(f'Remaining warranty is {age} years')

car = car()
car.warranty(2020)

Remaining warranty is 3 years

**2. Write a function to reverse a list.**

In [ ]:
def list_reverse(l):
  reverse_list = l[::-1]
  return reverse_list

list_reverse([1,2,3,4])

[4, 3, 2, 1]

**3. Implement a function to find the second largest element in a list.**

In [ ]:
def second_largest_num(l):
  reversed_list = sorted(l, reverse = True)
  return reversed_list[1]

second_largest_num([2,45,3,85,4,374,311,21,12,0,1185])

374

**4. Write a function to check if a given string is a palindrome.**

In [ ]:
def palindrome(string_value):
  result = ''
  if string_value[::-1] == string_value:
    return 'Yes the given string is palindrome'
  else:
    return 'Given string is not a palindrome'

print(palindrome('english'))

Given string is not a palindrome

**5. Create a function to count the occurrences of each character in a string.**

In [ ]:
def count_characters(input_string):
    count_dict = {}

    for char in input_string:
        if char in count_dict:
            count_dict[char] += 1
        else:
            count_dict[char] = 1

    return count_dict

# Example usage:
input_string = 'Hello world'
result = count_characters(input_string)

for char, count in result.items():
    print(f"Character '{char}' occurs {count} times.")

Character 'H' occurs 1 times.
Character 'e' occurs 1 times.
Character 'l' occurs 3 times.
Character 'o' occurs 2 times.
Character ' ' occurs 1 times.
Character 'w' occurs 1 times.
Character 'r' occurs 1 times.
Character 'd' occurs 1 times.

**7. Write a program to concatenate two tuples.**

In [ ]:
tuple1 = (1,2,3,4)
tuple2 = (2,3,4,5)

tuple1 += (tuple2)
print(tuple1, type(tuple1))

(1, 2, 3, 4, 2, 3, 4, 5) <class 'tuple'>

**8. Implement a function to find the index of an element in a tuple.**

In [ ]:
tuple_example = (1,2,3,4,5,6,7,8,9)
element = 3
def find_index(element):
  index = tuple_example.index(element)
  return index

print(f'The index of {element} is: {find_index(element)}')

The index of 3 is: 2

**9. Create a function to find the intersection of two sets.**

In [ ]:
def intersection_of_set(set1,set2):
  intersected = set1.intersection(set2)
  return 'intersection of two set is {}'.format(intersected)

set1 = {1,2,3,4}
set2 = {2,3,4,5,6,7}

intersection_of_set(set1,set2)

'intersection of two set is {2, 3, 4}'

**10. Write a program to remove duplicates from a list using sets.**

In [ ]:
class remove_duplicates:
  def duplicates(list1):
    return set(list1)

obj = remove_duplicates.duplicates([1,2,3,4,1,3,5,6,7])
print(obj)

{1, 2, 3, 4, 5, 6, 7}

1. Create a class representing a `Person` with attributes `name` and `age`.
2. Implement a method in the `Person` class to display the person's details.
3. Create a class for a `Circle` with methods to calculate its area and circumference.
4. Implement a `Student` class with attributes `name`, `roll_number`, and `marks`. Include a method to display whether the student has passed or failed.
5. Create a `BankAccount` class with methods for deposit and withdrawal.
6. Implement a `Book` class with attributes `title`, `author`, and `publication_year`.
7. Create a class for a basic `Calculator` with methods for addition, subtraction, multiplication, and division.
8. Implement a `Fraction` class with methods for addition, subtraction, multiplication, and division of fractions.
9. Create a class `Rectangle` with attributes `length` and `width`. Include methods to calculate area and perimeter.
10. Implement a `Car` class with attributes `make`, `model`, and `year`. Include a method to display the car details.
11. Write a class for a basic `Queue` using a list.
12. Create a class for a simple `Employee` with attributes `name`, `employee_id`, and `salary`.
13. Implement a `Point` class representing a point in 2D space. Include a method to calculate the distance from the origin.
14. Write a class for a `Stack` using a list.
15. Create a `Date` class with attributes `day`, `month`, and `year`.
16. Implement a `StringManipulator` class with methods for reversing a string and checking if it is a palindrome.
17. Write a class for a basic `LinkedList`.
18. Create a `DictionaryManager` class with methods to add, remove, and display key-value pairs.
19. Implement a class for a basic `Set` with methods for union, intersection, and difference.
20. Write a class `Time` to represent time in hours and minutes. Include methods to add and subtract times.

**1. Create a class representing a Person with attributes name and age.**

In [ ]:
class Person:
  def __init__(self,x,y):
    self.name = x
    self.age = y

obj1 = Person('Samarth', 23)

**2. Implement a method in the Person class to display the person's details.**

In [ ]:
class Person:
  def __str__(self):
    return 'name: {}, age: {}'.format(self.name, self.age)

print(obj1)

<__main__.Person object at 0x7d826fa13a90>

**3. Create a class for a Circle with methods to calculate its area and circumference.**

In [ ]:
import math

class Circle:
    def __init__(self, radius):
        self.r = radius

    def area(self):
        area_of_circle = math.pi * (self.r**2)
        return area_of_circle

    def circumference(self):
        circumference_of_circle = 2 * math.pi * self.r
        return circumference_of_circle

obj = Circle(7)
print(f'Area of circle: {obj.area():.3f}')
print(f'Circumference of circle: {obj.circumference():.3f}')

Area of circle: 153.938
Circumference of circle: 43.982

**4. Implement a Student class with attributes name, roll_number, and marks. Include a method to display whether the student has passed or failed.**

In [ ]:
class Student:
  def __init__(self):
    self.name = 'Samarth'
    self.roll_number = 124
    self.marks = int(0)

  def result(self):
    if self.marks < 33:
      return '{} is Fail.'.format(self.name)
    else:
      return '{} is passed.'.format(self.name)

In [ ]:
obj = Student()
obj.marks = 40
obj.result()

'Samarth is passed.'

**5. Create a BankAccount class with methods for deposit and withdrawal.**

In [ ]:
class BankAccount:
  def __init__(self):
    self.pin = int()
    self.balance = int()

  def deposit(self):
    amount = int(input('Enter the amount you want to deposit: '))
    self.balance += amount
    return f'Amount {amount} deposited successfully. Total Deposit: {self.balance}'

  def withdrawal(self):
    amount = int(input('Enter the amount you want to withdraw: '))
    self.balance -= amount
    return f'Amount {amount} withdrawn done successfully. Remaining Balance: {self.balance}'

In [ ]:
obj = BankAccount()

In [ ]:
obj.deposit()

Enter the amount you want to deposit: 5000

'Amount 5000 deposited successfully. Total Deposit: 5000'

In [ ]:
obj.withdrawal()

Enter the amount you want to withdraw: 2000

'Amount 2000 withdrawn done successfully. Remaining Balance: 3000'

**6. Implement a Book class with attributes title, author, and publication_year.**

In [ ]:
class Book:
  def __init__(self,title,author,year):
    self.title = str(title)
    self.author = str(author)
    self.publication_year = int(year)

    print(f"""title: {self.title}
author: {self.author}
publication_year: {self.publication_year}
          """)

In [ ]:
obj = Book('Half Girlfriend', 'Chetan Bhagat', 2011)

title: Half Girlfriend
author: Chetan Bhagat
publication_year: 2011

**7. Create a class for a basic Calculator with methods for addition, subtraction, multiplication, and division.**

In [ ]:
class Calculator:
  def __init__(self,x,y):
    self.x = int(x)
    self.y = int(y)

  def addition(self):
    return self.x + self.y

  def subtraction(self):
    return self.x - self.y

  def multiplication(self):
    return self.x * self.y

  def division(self):
    return self.x / self.y

In [ ]:
obj = Calculator(4,5)

In [ ]:
obj.addition()

9

In [ ]:
obj.subtraction()

-1

In [ ]:
obj.multiplication()

20

In [ ]:
obj.division()

0.8

**8. Implement a Fraction class with methods for addition, subtraction, multiplication, and division of fractions.**

In [ ]:
from __future__ import division
class Fraction:
  def __init__(self,num,den):
    self.num = int(num)
    self.den = int(den)

  def __str__(self):
    return '{}/{}'.format(self.num,self.den)

  def __add__(self, other):
    sum = (self.num * other.den + other.num * self.den) / (self.den * other.den)
    return sum

  def __sub__(self, other):
    sub = (self.num * other.den - other.num * self.den) / (self.den * other.den)
    return sub

  def __mul__(self, other):
    multiplication = (self.num * other.num) / (self.den * other.den)
    return multiplication

  def __truediv__(self, other):
    division = (self.num * other.den) / (self.den * other.num)
    return division

In [ ]:
obj1 = Fraction(3,4)

In [ ]:
obj2 = Fraction(2,3)

In [ ]:
print(obj1 + obj2)

1.4166666666666667

In [ ]:
print(obj1)

3/4

In [ ]:
print(obj1 - obj2)

0.08333333333333333

In [ ]:
print(obj1 * obj2)

0.5

In [ ]:
print(obj1 / obj2)

1.125

9. Create a class `Rectangle` with attributes `length` and `width`. Include methods to calculate area and perimeter.
10. Implement a `Car` class with attributes `make`, `model`, and `year`. Include a method to display the car details.
11. Write a class for a basic `Queue` using a list.
12. Create a class for a simple `Employee` with attributes `name`, `employee_id`, and `salary`.
13. Implement a `Point` class representing a point in 2D space. Include a method to calculate the distance from the origin.
14. Write a class for a `Stack` using a list.
15. Create a `Date` class with attributes `day`, `month`, and `year`.
16. Implement a `StringManipulator` class with methods for reversing a string and checking if it is a palindrome.
17. Write a class for a basic `LinkedList`.
18. Create a `DictionaryManager` class with methods to add, remove, and display key-value pairs.
19. Implement a class for a basic `Set` with methods for union, intersection, and difference.
20. Write a class `Time` to represent time in hours and minutes. Include methods to add and subtract times.

**9. Create a class `Rectangle` with attributes `length` and `width`. Include methods to calculate area and perimeter.**

In [ ]:
class Rectangle:
  def __init__(self, length, width):
    self.length = length
    self.width = width

  def area_and_parimeter(self):
    area = self.length * self.width
    perimeter = 2*(self.length + self.width)
    return f'area: {area} perimeter {perimeter}'

In [ ]:
rectangle = Rectangle(3,5)

In [ ]:
rectangle.area_and_parimeter()

'area: 15 perimeter 16'

**10. Implement a Car class with attributes make, model, and year. Include a method to display the car details.**

In [ ]:
class Car:
  def __init__(self, make, model, year):
    self.make = make
    self.model = model
    self.year = year

  def car_details(self):
    print('Making company of car: ', self.make)
    print('Model of the car: ', self.model)
    print('Year of the car:', self.year)

In [ ]:
car_obj = Car('TATA','Nexon EV Max', 2022)

In [ ]:
car_obj.car_details()

Making company of car:  TATA
Model of the car:  Nexon EV Max
Year of the car: 2022

**11. Write a class for a basic Queue using a list.**

In [ ]:
class Queue:
    def __init__(self):
        print('This is Queue Data Structure')
        self.l1 = [1, 2, 3, 4, 3, 5, 37, 4]

    def add_item(self, item):
        self.l1.append(item)
        return self.l1

In [ ]:
obj = Queue()

This is Queue Data Structure

In [ ]:
obj.add_item(25)

[1, 2, 3, 4, 3, 5, 37, 4, 25]

**12. Create a class for a simple Employee with attributes name, employee_id, and salary.**

In [ ]:
class Employee:
  def __init__(self, name, id, salary):
    self.__name = name
    self.__emp_id = id
    self.__salary = salary

  def view_details(self):
    print(f"""Employee name: {self.__name}
Employee id: {self.__emp_id}
Salary: {self.__salary}
          """)

In [ ]:
obj = Employee('Samarth', 22, '45000')

In [ ]:
obj.view_details()

Employee name: Samarth
Employee id: 22
Salary: 45000

**13. Implement a Point class representing a point in 2D space. Include a method to calculate the distance from the origin.**

In [ ]:
import math

class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def distance_from_origin(self):
        distance = math.sqrt(self.x ** 2 + self.y ** 2)
        print(f'Distance from the origin is: {distance}')

In [ ]:
obj = Point(3,4)

In [ ]:
obj.distance_from_origin()

Distance from the origin is: 5.0

**14. Write a class for a Stack using a list.**

In [ ]:
class Stack:
    def __init__(self):
        self.items = []

    def is_empty(self):
        return len(self.items) == 0

    def push(self, item):
        self.items.append(item)

    def pop(self):
        if not self.is_empty():
            return self.items.pop()
        else:
            raise IndexError("pop from an empty stack")

    def peek(self):
        if not self.is_empty():
            return self.items[-1]
        else:
            raise IndexError("peek from an empty stack")

    def size(self):
        return len(self.items)

# Example usage:
stack = Stack()

print("Is the stack empty?", stack.is_empty())

stack.push(1)
stack.push(2)
stack.push(3)

print("Stack size:", stack.size())
print("Top element:", stack.peek())

popped_item = stack.pop()
print("Popped item:", popped_item)

print("Is the stack empty now?", stack.is_empty())

Is the stack empty? True
Stack size: 3
Top element: 3
Popped item: 3
Is the stack empty now? False

15. Create a `Date` class with attributes `day`, `month`, and `year`.
16. Implement a `StringManipulator` class with methods for reversing a string and checking if it is a palindrome.
17. Write a class for a basic `LinkedList`.
18. Create a `DictionaryManager` class with methods to add, remove, and display key-value pairs.
19. Implement a class for a basic `Set` with methods for union, intersection, and difference.
20. Write a class `Time` to represent time in hours and minutes. Include methods to add and subtract times.

**15. Create a `Date` class with attributes `day`, `month`, and `year`.**

In [ ]:
class Date:
  def __init__(self, day, month, year):
    self.day = (day)
    self.month = month
    self.year = year

  def show_date(self):
    print(f'The date is: {self.day}/{self.month}/{self.year}')

In [ ]:
obj = Date(1,1,2024)

In [ ]:
obj.show_date()

The date is: 1/1/2024

**16. Implement a StringManipulator class with methods for reversing a string and checking if it is a palindrome.**

In [ ]:
class StringManipulator:
  def __init__(self, newString):
    self.__newString = newString

  def isPalindrome(self):
    if self.__newString == self.__newString[::-1]:
      print(f'{self.__newString} is a palindrome.')
    else:
      print(f'{self.__newString} is not a palindrome.')

  def reverseString(self):
    return self.__newString[::-1]

In [ ]:
obj = StringManipulator('Hello')

In [ ]:
obj.isPalindrome()

Hello is not a palindrome.

In [ ]:
obj.reverseString()

'olleH'

In [ ]:
obj1 = StringManipulator('madam')

In [ ]:
obj1.isPalindrome()

madam is a palindrome.

**17. Write a class for a basic LinkedList.**

In [ ]:
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

class LinkedList:
    def __init__(self):
        self.head = None

    def is_empty(self):
        return self.head is None

    def append(self, data):
        new_node = Node(data)
        if self.head is None:
            self.head = new_node
            return
        last_node = self.head
        while last_node.next:
            last_node = last_node.next
        last_node.next = new_node

    def prepend(self, data):
        new_node = Node(data)
        new_node.next = self.head
        self.head = new_node

    def delete_node(self, key):
        current_node = self.head
        if current_node and current_node.data == key:
            self.head = current_node.next
            current_node = None
            return
        prev_node = None
        while current_node and current_node.data != key:
            prev_node = current_node
            current_node = current_node.next
        if current_node is None:
            return
        prev_node.next = current_node.next
        current_node = None

    def display(self):
        current_node = self.head
        while current_node:
            print(current_node.data, end=" -> ")
            current_node = current_node.next
        print("None")

# Example usage:
linked_list = LinkedList()
linked_list.append(1)
linked_list.append(2)
linked_list.append(3)
linked_list.prepend(0)
linked_list.display()
linked_list.delete_node(2)
linked_list.display()

0 -> 1 -> 2 -> 3 -> None
0 -> 1 -> 3 -> None

**18. Create a DictionaryManager class with methods to add, remove, and display key-value pairs.**

In [ ]:
class DictionaryManager:
    def __init__(self):
        self.dictionary = {}

    def add_pair(self, key, value):
        self.dictionary[key] = value
        print(f"Added: {key} - {value}")

    def remove_pair(self, key):
        if key in self.dictionary:
            del self.dictionary[key]
            print(f"Removed: {key}")
        else:
            print(f"Key '{key}' not found")

    def display_pairs(self):
        if not self.dictionary:
            print("Dictionary is empty")
        else:
            print("Key-Value Pairs:")
            for key, value in self.dictionary.items():
                print(f"{key}: {value}")

In [ ]:
obj1 = DictionaryManager()

In [ ]:
obj1.add_pair('Collab',56)

Added: Collab - 56

**19. Implement a class for a basic Set with methods for union, intersection, and difference.**

In [21]:
class Sets:
    def __init__(self, newSet):
        self.__newSet = set(newSet)

    def union_of_set(self, other):
        new_set = self.__newSet | other.__newSet
        print(f'The union of both the sets is {new_set}')

    def intersection_of_union(self, other):
        new_set = self.__newSet & other.__newSet
        print(f'The intersection of both the sets is {new_set}')

    def difference_of_union(self, other):
        new_set = self.__newSet - other.__newSet
        print(f'The difference of given sets is {new_set}')

In [22]:
obj1 = Sets((1,2,4,5,3,2,7))

In [23]:
obj2 = Sets((2,3,4,12,3,45,543,1))

In [24]:
obj1.union_of_set(obj2)

The union of both the sets is {1, 2, 3, 4, 5, 7, 12, 45, 543}

In [25]:
obj1.difference_of_union(obj2)

The difference of given sets is {5, 7}

In [27]:
obj1.intersection_of_union(obj2)

The intersection of both the sets is {1, 2, 3, 4}