<a href="https://colab.research.google.com/github/Samarth-DataScience/75-hard-of-python-practice/blob/main/Day_26_python_%5Blist%5D_(tuple)_%7Bset%7D_%7Bdictionary%7D_function()_practice_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

covering a combination of lists, tuples, sets, dictionaries, and functions in Python:

1. Create a function that takes two parameters, a list, and a tuple, and returns a new list that contains elements from both in reverse order.
2. Define a dictionary with keys as strings and values as sets. Add a new key-value pair to the dictionary.
3. Write a function that takes a list of numbers and returns a new list with only the even numbers.
4. Create a set with elements from a given list and then convert it to a tuple.
5. Define a function that takes a dictionary as a parameter and returns the keys sorted in descending order.
6. Create a list of tuples where each tuple consists of a string and an associated integer.
7. Write a function that checks if a given element is present in both a list and a set.
8. Define a dictionary with keys as integers and values as lists. Append an element to one of the lists.
9. Write a function that receives a list and returns a new list containing unique elements in reverse order.
10. Create a tuple with elements from a list and then convert it to a set.
11. Define a function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.
12. Create a set with elements from both a given list and tuple.
13. Write a function that accepts a dictionary and returns the sum of all values.
14. Define a list of tuples, each containing a string and a nested list of integers.
15. Create a dictionary with keys as strings and values as tuples. Access and print the second element of a specific tuple.
16. Write a function that takes a list and returns a new list with unique elements in ascending order.
17. Define a tuple with elements from a list and then convert it to a dictionary.
18. Create a set with elements from a list and then remove an element from the set.
19. Write a function that calculates the average of all values in a list.
20. Define a list of dictionaries, each containing information about a person (name, age, and city).
21. Create a tuple with elements from both a given list and set.
22. Write a function that checks if a given key is present in a dictionary and returns the corresponding value.
23. Define a set with elements from a list and then add new elements to the set.
24. Write a function that receives a list of tuples and returns a new list with the second elements of each tuple.
25. Create a dictionary with keys as strings and values as lists. Extend one of the lists with elements from another list.
26. Define a list of dictionaries, each containing information about a book (title, author, and publication year).
27. Write a function that takes a list of integers and returns a new list with the squares of each number.
28. Create a set with elements from a list and then find the intersection with another set.
29. Define a dictionary with keys as integers and values as sets. Remove an element from one of the sets.
30. Write a function that receives a dictionary and returns a list of keys where the corresponding values are even numbers.

**1. Create a function that takes two parameters, a list, and a tuple, and returns a new list that contains elements from both in reverse order.**

In [1]:
def list_tuple(x,y):
  new_list = (x + list(y))
  new_list.sort(reverse = True)
  return new_list


list_tuple([3,6,7],(2,3,4))

[7, 6, 4, 3, 3, 2]

**2. Define a dictionary with keys as strings and values as sets. Add a new key-value pair to the dictionary.**

In [2]:
dict1 = {'str1':(2,3,4),'str2':(4,3,5,6)}
dict1.update({'str3':(2,5,7)})
print(dict1)

{'str1': (2, 3, 4), 'str2': (4, 3, 5, 6), 'str3': (2, 5, 7)}

**3. Write a function that takes a list of numbers and returns a new list with only the even numbers.**

In [3]:
def get_list(l1):
  l2 = [i for i in l1 if i%2==0]
  return l2

l1 = [i for i in range(1,101)]
print(f'Even numbers form l1 are: {get_list(l1)}')

Even numbers form l1 are: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

**4. Create a set with elements from a given list and then convert it to a tuple.**

In [4]:
l1 = [2,3,4,5,6,7]
s1 = set(l1)
t1 = tuple(s1)

print(type(t1))
print(t1)

<class 'tuple'>
(2, 3, 4, 5, 6, 7)

**5. Define a function that takes a dictionary as a parameter and returns the keys sorted in descending order.**

In [5]:
dict1 = {1:1,2:4,3:9,4:16}

def get_keys(d1):
  list1 = list(d1.keys())
  list1.sort(reverse = True)
  return list1

get_keys(dict1)

[4, 3, 2, 1]

**6. Create a list of tuples where each tuple consists of a string and an associated integer.**

In [6]:
tuple_list = [("apple", 5), ("banana", 3), ("orange", 8), ("grape", 2)]
print(tuple_list)

[('apple', 5), ('banana', 3), ('orange', 8), ('grape', 2)]

**7. Write a function that checks if a given element is present in both a list and a set.**

In [12]:
def is_available(element):
  l1 = [1,2,3,4,5,6]
  s2 = {1,3,5,8,7,2,}
  if element in l1 and element in s2:
    return 'Yes'
  else:
    return 'No'

is_available(2)

'Yes'

**8. Define a dictionary with keys as integers and values as lists. Append an element to one of the lists.**

In [17]:
d1 = {1:[1,2,3],2:['Ram','Mohan'],3:[1,4,9,16]}
print(f'Before changes in dictionay d1 is: {d1}')

d1[2].append('hello')
print(f'After changes in dictionay d1 is: {d1}')

Before changes in dictionay d1 is: {1: [1, 2, 3], 2: ['Ram', 'Mohan'], 3: [1, 4, 9, 16]}
After changes in dictionay d1 is: {1: [1, 2, 3], 2: ['Ram', 'Mohan', 'hello'], 3: [1, 4, 9, 16]}

**9. Write a function that receives a list and returns a new list containing unique elements in reverse order.**