<a href="https://colab.research.google.com/github/Samarth-DataScience/75-hard-of-python-practice/blob/main/Day_32_python_%5Blist%5D_(tuple)_%7Bset%7D_%7Bdictionary%7D_function()_practice_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

covering a combination of lists, tuples, sets, dictionaries, and functions in Python:

1. Create a function that takes two parameters, a list, and a tuple, and returns a new list that contains elements from both in reverse order.
2. Define a dictionary with keys as strings and values as sets. Add a new key-value pair to the dictionary.
3. Write a function that takes a list of numbers and returns a new list with only the even numbers.
4. Create a set with elements from a given list and then convert it to a tuple.
5. Define a function that takes a dictionary as a parameter and returns the keys sorted in descending order.
6. Create a list of tuples where each tuple consists of a string and an associated integer.
7. Write a function that checks if a given element is present in both a list and a set.
8. Define a dictionary with keys as integers and values as lists. Append an element to one of the lists.
9. Write a function that receives a list and returns a new list containing unique elements in reverse order.
10. Create a tuple with elements from a list and then convert it to a set.
11. Define a function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.
12. Create a set with elements from both a given list and tuple.
13. Write a function that accepts a dictionary and returns the sum of all values.
14. Define a list of tuples, each containing a string and a nested list of integers.
15. Create a dictionary with keys as strings and values as tuples. Access and print the second element of a specific tuple.
16. Write a function that takes a list and returns a new list with unique elements in ascending order.
17. Define a tuple with elements from a list and then convert it to a dictionary.
18. Create a set with elements from a list and then remove an element from the set.
19. Write a function that calculates the average of all values in a list.
20. Define a list of dictionaries, each containing information about a person (name, age, and city).
21. Create a tuple with elements from both a given list and set.
22. Write a function that checks if a given key is present in a dictionary and returns the corresponding value.
23. Define a set with elements from a list and then add new elements to the set.
24. Write a function that receives a list of tuples and returns a new list with the second elements of each tuple.
25. Create a dictionary with keys as strings and values as lists. Extend one of the lists with elements from another list.
26. Define a list of dictionaries, each containing information about a book (title, author, and publication year).
27. Write a function that takes a list of integers and returns a new list with the squares of each number.
28. Create a set with elements from a list and then find the intersection with another set.
29. Define a dictionary with keys as integers and values as sets. Remove an element from one of the sets.
30. Write a function that receives a dictionary and returns a list of keys where the corresponding values are even numbers.

**1. Create a function that takes two parameters, a list, and a tuple, and returns a new list that contains elements from both in reverse order.**

In [ ]:
def list_tuple(x,y):
  new_list = (x + list(y))
  new_list.sort(reverse = True)
  return new_list


list_tuple([3,6,7],(2,3,4))

[7, 6, 4, 3, 3, 2]

**2. Define a dictionary with keys as strings and values as sets. Add a new key-value pair to the dictionary.**

In [ ]:
dict1 = {'str1':(2,3,4),'str2':(4,3,5,6)}
dict1.update({'str3':(2,5,7)})
print(dict1)

{'str1': (2, 3, 4), 'str2': (4, 3, 5, 6), 'str3': (2, 5, 7)}

**3. Write a function that takes a list of numbers and returns a new list with only the even numbers.**

In [ ]:
def get_list(l1):
  l2 = [i for i in l1 if i%2==0]
  return l2

l1 = [i for i in range(1,101)]
print(f'Even numbers form l1 are: {get_list(l1)}')

Even numbers form l1 are: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

**4. Create a set with elements from a given list and then convert it to a tuple.**

In [ ]:
l1 = [2,3,4,5,6,7]
s1 = set(l1)
t1 = tuple(s1)

print(type(t1))
print(t1)

<class 'tuple'>
(2, 3, 4, 5, 6, 7)

**5. Define a function that takes a dictionary as a parameter and returns the keys sorted in descending order.**

In [ ]:
dict1 = {1:1,2:4,3:9,4:16}

def get_keys(d1):
  list1 = list(d1.keys())
  list1.sort(reverse = True)
  return list1

get_keys(dict1)

[4, 3, 2, 1]

**6. Create a list of tuples where each tuple consists of a string and an associated integer.**

In [ ]:
tuple_list = [("apple", 5), ("banana", 3), ("orange", 8), ("grape", 2)]
print(tuple_list)

[('apple', 5), ('banana', 3), ('orange', 8), ('grape', 2)]

**7. Write a function that checks if a given element is present in both a list and a set.**

In [ ]:
def is_available(element):
  l1 = [1,2,3,4,5,6]
  s2 = {1,3,5,8,7,2,}
  if element in l1 and element in s2:
    return 'Yes'
  else:
    return 'No'

is_available(2)

'Yes'

**8. Define a dictionary with keys as integers and values as lists. Append an element to one of the lists.**

In [ ]:
d1 = {1:[1,2,3],2:['Ram','Mohan'],3:[1,4,9,16]}
print(f'Before changes in dictionay d1 is: {d1}')

d1[2].append('hello')
print(f'After changes in dictionay d1 is: {d1}')

Before changes in dictionay d1 is: {1: [1, 2, 3], 2: ['Ram', 'Mohan'], 3: [1, 4, 9, 16]}
After changes in dictionay d1 is: {1: [1, 2, 3], 2: ['Ram', 'Mohan', 'hello'], 3: [1, 4, 9, 16]}

**9. Write a function that receives a list and returns a new list containing unique elements in reverse order.**

In [ ]:
def filter_list(l1):
  s1 = list(tuple(l1))
  s1.sort(reverse = True)
  return s1

filter_list({3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5})

[9, 6, 5, 4, 3, 2, 1]

**10. Create a tuple with elements from a list and then convert it to a set.**

In [ ]:
l1 = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
s1 = set(tuple(l1))

print(type(s1))
print(s1)

<class 'set'>
{1, 2, 3, 4, 5, 6, 9}

11. Define a function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.
12. Create a set with elements from both a given list and tuple.
13. Write a function that accepts a dictionary and returns the sum of all values.
14. Define a list of tuples, each containing a string and a nested list of integers.
15. Create a dictionary with keys as strings and values as tuples. Access and print the second element of a specific tuple.
16. Write a function that takes a list and returns a new list with unique elements in ascending order.
17. Define a tuple with elements from a list and then convert it to a dictionary.
18. Create a set with elements from a list and then remove an element from the set.
19. Write a function that calculates the average of all values in a list.
20. Define a list of dictionaries, each containing information about a person (name, age, and city).
21. Create a tuple with elements from both a given list and set.
22. Write a function that checks if a given key is present in a dictionary and returns the corresponding value.
23. Define a set with elements from a list and then add new elements to the set.
24. Write a function that receives a list of tuples and returns a new list with the second elements of each tuple.
25. Create a dictionary with keys as strings and values as lists. Extend one of the lists with elements from another list.
26. Define a list of dictionaries, each containing information about a book (title, author, and publication year).
27. Write a function that takes a list of integers and returns a new list with the squares of each number.
28. Create a set with elements from a list and then find the intersection with another set.
29. Define a dictionary with keys as integers and values as sets. Remove an element from one of the sets.
30. Write a function that receives a dictionary and returns a list of keys where the corresponding values are even numbers.

**11. Define a function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.**

In [ ]:
def gen_dict(str_list):
  dict1 = {i:len(i) for i in str_list }
  return dict1

gen_dict(['Ram', 'Mohan', 'hello'])

{'Ram': 3, 'Mohan': 5, 'hello': 5}

**12. Create a set with elements from both a given list and tuple.**

In [ ]:
l1 = [1,2,3,4,5]
t1 = (2,4,6,8,10)

s1 = set(l1+list(t1))

print(s1)

{1, 2, 3, 4, 5, 6, 8, 10}

**13. Write a function that accepts a dictionary and returns the sum of all values.**

In [ ]:
def gen_sum(dict1):
  """ This function is used to extract values from dictionary and then get the valued sum """
  sum_value = sum((dict1.values()))
  return sum_value

print(gen_sum({'Ram': 3, 'Mohan': 5, 'hello': 5}))
print(gen_sum.__doc__)

13
 This function is used to extract values from dictionary and then get the valued sum

**Certainly! Here are 30 questions covering topics like lambda functions, map, filter, reduce, nested functions, and variable scope in Python:**

1. Write a lambda function to square a given number.
2. Use the map function to double each element in a list.
3. Create a list of integers and use the filter function to get only the even numbers.
4. Define a lambda function to check if a given number is greater than 10.
5. Use the reduce function to find the product of elements in a list.
6. Write a nested function that calculates the square of a given number.
7. Create a list of strings and use the map function to convert them to uppercase.
8. Define a lambda function to calculate the cube of a given number.
9. Use the filter function to get only the strings with length greater than 5 from a list of strings.
10. Write a lambda function to add two numbers.
11. Create a list of numbers and use the reduce function to find the sum.
12. Define a function that takes a list of numbers and returns a list of their squares using the map function.
13. Write a lambda function to check if a given string is a palindrome.
14. Use the filter function to get only the elements divisible by 3 from a list of numbers.
15. Define a function that uses a nested lambda function to calculate the square of a given number.
16. Create a list of tuples, each containing two numbers, and use the map function to find the sum of each tuple.
17. Write a lambda function to find the maximum of two numbers.
18. Use the reduce function to find the product of elements in a list, starting from an initial value of 1.
19. Define a function that takes a list of strings and returns a list of their lengths using the map function.
20. Write a lambda function to check if a given number is prime.
21. Use the filter function to get only the elements greater than the average from a list of numbers.
22. Define a nested function with a closure that keeps track of the total count of function calls.
23. Create a list of strings and use the map function to concatenate " - Python" to each string.
24. Write a lambda function to calculate the square root of a given number.
25. Use the filter function to get only the elements that are strings from a mixed list.
26. Define a function that takes a list of numbers and returns a list of their cubes using the map function.
27. Write a lambda function to reverse a given string.
28. Use the reduce function to find the maximum of a list of numbers.
29. Define a function that uses a nested lambda function to calculate the product of two given numbers.
30. Create a list of dictionaries, each containing 'name' and 'age', and use the map function to extract only the names.

Feel free to use these questions for practice, and if you have any specific doubts or need explanations, feel free to ask!

14. Define a list of tuples, each containing a string and a nested list of integers.
15. Create a dictionary with keys as strings and values as tuples. Access and print the second element of a specific tuple.
16. Write a function that takes a list and returns a new list with unique elements in ascending order.
17. Define a tuple with elements from a list and then convert it to a dictionary.
18. Create a set with elements from a list and then remove an element from the set.
19. Write a function that calculates the average of all values in a list.
20. Define a list of dictionaries, each containing information about a person (name, age, and city).
21. Create a tuple with elements from both a given list and set.
22. Write a function that checks if a given key is present in a dictionary and returns the corresponding value.
23. Define a set with elements from a list and then add new elements to the set.
24. Write a function that receives a list of tuples and returns a new list with the second elements of each tuple.
25. Create a dictionary with keys as strings and values as lists. Extend one of the lists with elements from another list.
26. Define a list of dictionaries, each containing information about a book (title, author, and publication year).
27. Write a function that takes a list of integers and returns a new list with the squares of each number.
28. Create a set with elements from a list and then find the intersection with another set.
29. Define a dictionary with keys as integers and values as sets. Remove an element from one of the sets.
30. Write a function that receives a dictionary and returns a list of keys where the corresponding values are even numbers.

**14. Define a list of tuples, each containing a string and a nested list of integers.**

In [ ]:
list_of_tuples = [
    ("apple", [1, 2, 3]),
    ("banana", [4, 5, 6]),
    ("orange", [7, 8, 9])
]

print(list_of_tuples)

[('apple', [1, 2, 3]), ('banana', [4, 5, 6]), ('orange', [7, 8, 9])]

**15. Create a dictionary with keys as strings and values as tuples. Access and print the second element of a specific tuple.**

In [ ]:
dict1 = {'tuple1' : (1,2,3,4),
         'tuple2' : (1,4,9,16),
         'tuple3' : (1,16,27,64)}

x = dict1.get(('tuple3'))[1]
print(type(x))
print(x)

<class 'int'>
16

**16. Create a list of tuples, each containing two numbers, and use the map function to find the sum of each tuple.**

In [ ]:
list_of_tuples = [(1,2),(4,5),(7,8),(1,4)]
x = map(lambda x: sum(x) ,list_of_tuples)
print(list(x))

[3, 9, 15, 5]

**17. Define a tuple with elements from a list and then convert it to a dictionary**

In [ ]:
l1 = [1,2,3,4,5,6]
t1 = tuple(l1)
d1 = dict(t1)

TypeError: ignored

**18. Create a set with elements from a list and then remove an element from the set.**

In [ ]:
l1 = [1,2,3,4,5]
s1 = set(l1)
s1.remove(3)
print(s1)

{1, 2, 4, 5}

**19. Define a function that takes a list of strings and returns a list of their lengths using the map function.**

In [ ]:

def get_length(list1):
  x = list(map(lambda x:len(x),list1))
  return x

l1 = ['Samarth','Santosh','Avishek','Ankit','Arun','Dev']
get_length(l1)

[7, 7, 7, 5, 4, 3]

**20. Define a list of dictionaries, each containing information about a person (name, age, and city).**

In [ ]:
information = [{'name': 'Samarth', 'age': 23, 'city':'Delhi'},{'name': 'Golu', 'age': 20, 'city':'Delhi'},{'name': 'Hari', 'age': 25, 'city':'Punjab'}]
print(information)

[{'name': 'Samarth', 'age': 23, 'city': 'Delhi'}, {'name': 'Golu', 'age': 20, 'city': 'Delhi'}, {'name': 'Hari', 'age': 25, 'city': 'Punjab'}]

**21. Create a tuple with elements from both a given list and set.**

In [ ]:
l1 = ['Samarth','Santosh','Avishek','Ankit','Arun','Dev']
s1 = {1,2,3,4,5,6,5,2,3}

t1 = l1 + list(s1)
print(t1)

['Samarth', 'Santosh', 'Avishek', 'Ankit', 'Arun', 'Dev', 1, 2, 3, 4, 5, 6]

22. Write a function that checks if a given key is present in a dictionary and returns the corresponding value.
23. Define a set with elements from a list and then add new elements to the set.
24. Write a function that receives a list of tuples and returns a new list with the second elements of each tuple.
25. Create a dictionary with keys as strings and values as lists. Extend one of the lists with elements from another list.
26. Define a list of dictionaries, each containing information about a book (title, author, and publication year).
27. Write a function that takes a list of integers and returns a new list with the squares of each number.
28. Create a set with elements from a list and then find the intersection with another set.
29. Define a dictionary with keys as integers and values as sets. Remove an element from one of the sets.
30. Write a function that receives a dictionary and returns a list of keys where the corresponding values are even numbers.

**22. Write a function that checks if a given key is present in a dictionary and returns the corresponding value.**

In [ ]:
def is_available(drop_key, dict1):
  if drop_key in dict1:
    x = dict1[drop_key]
    return x

dict1 = {'name': 'Samarth', 'age': 23, 'city': 'Delhi'}

result = is_available('name', dict1)
print(result)

Samarth

**23. Define a set with elements from a list and then add new elements to the set.**

In [ ]:
s1 = {tuple[1,2,3,4],tuple[2,3,4,5],tuple[2,4,8,16]}
s1.add(tuple['new','list'])
print(s1)

{tuple['new', 'list'], tuple[1, 2, 3, 4], tuple[2, 4, 8, 16], tuple[2, 3, 4, 5]}

**24. Write a function that receives a list of tuples and returns a new list with the second elements of each tuple.**

In [ ]:
list_of_tuples = [(1,), (2, 3), ('a', 'b', 'c'), (4, 5, 6, 7), ('x',), ('y', 'z'), ('apple', 'orange', 'banana'), ('red', 'green', 'blue', 'yellow'), (8,), ('cat', 'dog', 'fish')]
def element(t1):
  l1 = []
  for i in t1:
    if len(i) >= 2:
      l1.append(i[1])
  return l1
element(list_of_tuples)

[3, 'b', 5, 'z', 'orange', 'green', 'dog']

**25. Create a dictionary with keys as strings and values as lists. Extend one of the lists with elements from another list.**

In [ ]:
dict1 = {'mathematics' : [45,98,68,32],'Software Architecture' : [98,89,87,79,68,93], 'Big Data': [55,91,93,87,70,21]}
marks_added = [68,45,56]
dict1['mathematics'].extend(marks_added)
print(dict1)

{'mathematics': [45, 98, 68, 32, 68, 45, 56], 'Software Architecture': [98, 89, 87, 79, 68, 93], 'Big Data': [55, 91, 93, 87, 70, 21]}

**26. Define a list of dictionaries, each containing information about a book (title, author, and publication year).**

In [1]:
books = [
    {"title": "The Great Gatsby", "author": "F. Scott Fitzgerald", "publication_year": 1925},
    {"title": "To Kill a Mockingbird", "author": "Harper Lee", "publication_year": 1960},
    {"title": "1984", "author": "George Orwell", "publication_year": 1949},
    {"title": "The Catcher in the Rye", "author": "J.D. Salinger", "publication_year": 1951},
    {"title": "Harry Potter and the Sorcerer's Stone", "author": "J.K. Rowling", "publication_year": 1997},
]
print(books)

[{'title': 'The Great Gatsby', 'author': 'F. Scott Fitzgerald', 'publication_year': 1925}, {'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'publication_year': 1960}, {'title': '1984', 'author': 'George Orwell', 'publication_year': 1949}, {'title': 'The Catcher in the Rye', 'author': 'J.D. Salinger', 'publication_year': 1951}, {'title': "Harry Potter and the Sorcerer's Stone", 'author': 'J.K. Rowling', 'publication_year': 1997}]

**27. Write a function that takes a list of integers and returns a new list with the squares of each number.**

In [4]:
list_of_int = [1,2,4,5,7,3,45,23,43,21]
def squares(list1):
  x = map(lambda x:x**2, list1)
  return list(x)

squares(list_of_int)

[1, 4, 16, 25, 49, 9, 2025, 529, 1849, 441]

**28. Create a set with elements from a list and then find the intersection with another set.**

In [8]:
list1 = [1,2,4,5,7,3,45,23,43,21]
set1 = set(list1)
set2 = {2,4,5,7,8,6,9,7,0,3,21}

set3 = set1 & set2
print(f'intersection: {set3}')

intersection: {2, 3, 4, 5, 7, 21}