<a href="https://colab.research.google.com/github/Samarth-DataScience/75-hard-of-python-practice/blob/main/Day_40_python_lambda%2C%20map%2C%20reduce%2C%20nested%2C%20filter_function_practice_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Certainly! Here are 30 questions covering topics like lambda functions, map, filter, reduce, nested functions, and variable scope in Python:**

1. Write a lambda function to square a given number.
2. Use the map function to double each element in a list.
3. Create a list of integers and use the filter function to get only the even numbers.
4. Define a lambda function to check if a given number is greater than 10.
5. Use the reduce function to find the product of elements in a list.
6. Write a nested function that calculates the square of a given number.
7. Create a list of strings and use the map function to convert them to uppercase.
8. Define a lambda function to calculate the cube of a given number.
9. Use the filter function to get only the strings with length greater than 5 from a list of strings.
10. Write a lambda function to add two numbers.
11. Create a list of numbers and use the reduce function to find the sum.
12. Define a function that takes a list of numbers and returns a list of their squares using the map function.
13. Write a lambda function to check if a given string is a palindrome.
14. Use the filter function to get only the elements divisible by 3 from a list of numbers.
15. Define a function that uses a nested lambda function to calculate the square of a given number.
16. Create a list of tuples, each containing two numbers, and use the map function to find the sum of each tuple.
17. Write a lambda function to find the maximum of two numbers.
18. Use the reduce function to find the product of elements in a list, starting from an initial value of 1.
19. Define a function that takes a list of strings and returns a list of their lengths using the map function.
20. Write a lambda function to check if a given number is prime.
21. Use the filter function to get only the elements greater than the average from a list of numbers.
22. Define a nested function with a closure that keeps track of the total count of function calls.
23. Create a list of strings and use the map function to concatenate " - Python" to each string.
24. Write a lambda function to calculate the square root of a given number.
25. Use the filter function to get only the elements that are strings from a mixed list.
26. Define a function that takes a list of numbers and returns a list of their cubes using the map function.
27. Write a lambda function to reverse a given string.
28. Use the reduce function to find the maximum of a list of numbers.
29. Define a function that uses a nested lambda function to calculate the product of two given numbers.
30. Create a list of dictionaries, each containing 'name' and 'age', and use the map function to extract only the names.

Feel free to use these questions for practice, and if you have any specific doubts or need explanations, feel free to ask!

**1. Write a lambda function to square a given number.**

In [ ]:
square = lambda x: x**2
print(square(2))

4

**2. Use the map function to double each element in a list.**

In [ ]:
list1 = [2,3,4,5,6]
output = list(map(lambda x : x+x, list1 ))
print(output)

[4, 6, 8, 10, 12]

**3. Create a list of integers and use the filter function to get only the even numbers.**

In [ ]:
my_integer_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
only_even = list(filter(lambda x: (x%2==0), my_integer_list))
print(only_even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**4. Define a lambda function to check if a given number is greater than 10.**

In [ ]:
def check_num(f, l1):
    result = []
    for i in l1:
        if f(i):
            result.append(i)
    return result

list1 = [14, 37, 8, 44, 23, 5, 12, 31, 19, 49, 2, 16, 28, 41, 7, 46, 35, 9, 27, 3]
result_list = check_num(lambda x: x > 10, list1)

print(result_list)

[14, 37, 44, 23, 12, 31, 19, 49, 16, 28, 41, 46, 35, 27]

**5. Use the reduce function to find the product of elements in a list.**

In [ ]:
import functools
list1 = [14, 37, 8, 44, 23, 5, 12]
product = (functools.reduce(lambda x,y:x*y,list1))
print(product)

251623680

**6. Write a nested function that calculates the square of a given number.**

In [ ]:
def calculate(number):
  def square_roots():
    square_root = number**2
    return square_root
  return square_roots


return_function = calculate(4)
print(return_function())

16

**7. Create a list of strings and use the map function to convert them to uppercase.**

In [ ]:
list_of_str = ['Avishek','Samarth','Ramesh','Nitesh','Sanju']
upper_case = list(map(lambda x:x.upper(),list_of_str))
print(upper_case)

['AVISHEK', 'SAMARTH', 'RAMESH', 'NITESH', 'SANJU']

**8. Define a lambda function to calculate the cube of a given number.**

In [ ]:
def cube(f):
  return f

cube_function = cube(lambda x:x**3)
print(cube_function(5))

125

**9. Use the filter function to get only the strings with length greater than 5 from a list of strings.**

In [ ]:
list_of_str = ['Avishek','Samarth','Ramesh','Nitesh','Sanju','Kang','Dev']
new_list = list(filter(lambda x :len(x) > 5, list_of_str))
print(new_list)

['Avishek', 'Samarth', 'Ramesh', 'Nitesh']

**10. Write a lambda function to add two numbers.**

In [ ]:
addition = lambda x, y: x + y
add = addition(4, 5)
print(f'addition of two numbers are: {add}')

addition of two numbers are: 9

**11.Create a list of numbers and use the reduce function to find the sum.**

In [ ]:
num_list = [1,2,3,4,5]
sum = reduce(lambda x,y : x + y, num_list)
print(sum)

NameError: ignored

**12. Define a function that takes a list of numbers and returns a list of their squares using the map function.**

In [ ]:
squares = list(map(lambda x: x**2, num_list))
print(squares)

[1, 4, 9, 16, 25]

**13. Write a lambda function to check if a given string is a palindrome.**

In [ ]:
string1 = input(str('Enter the word you want to test: '))

def is_palindrome(string):
  return string == string[::-1]

if is_palindrome(string1):
  print(f'Yes "{string1}" is a a palindrome.')
else:
  print(f'"{string1}" is not a palindrome word.')

Enter the word you want to test: english
"english" is not a palindrome word.

**14. Use the filter function to get only the elements divisible by 3 from a list of numbers.**

In [ ]:
list_of_numbers = [2,3,5,6,3,1]
new_list = list(filter(lambda x : x%3==0, list_of_numbers))
print(new_list)

[3, 6, 3]

**15. Define a function that uses a nested lambda function to calculate the square of a given number.**

In [ ]:
def calculate_square():
    square = lambda x: x**2
    return square


number = 5
square_function = calculate_square()
result = square_function(number)
print(f"The square of {number} is: {result}")

The square of 5 is: 25

**16. Create a list of tuples, each containing two numbers, and use the map function to find the sum of each tuple.**

In [ ]:
list_of_tuples = [(2,3),
                  (5,6),
                  (6,4),
                  (7,6)]

sum = list(map(lambda x: sum(x), list_of_tuples))
print(sum)

[5, 11, 10, 13]

**17. Write a lambda function to find the maximum of two numbers.**

In [ ]:
maximum = (lambda x,y: x if x>y else x<y)(2,3)
print(maximum)

True

**18. Use the reduce function to find the product of elements in a list, starting from an initial value of 1.**

In [ ]:
from functools import reduce

# Your list of numbers
numbers = [2, 3, 4, 5]

# Use reduce to find the product starting from an initial value of 1
product = reduce(lambda x, y: x * y, numbers, 1)

print(product)

120