<a href="https://colab.research.google.com/github/Samarth-DataScience/75-hard-of-python-practice/blob/main/python_list_practice_set_Day8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Certainly! Here are 30 Python list questions covering a wide range of topics and functions, numbered from 1 to 30:

1. Create an empty list named `my_list`.
2. Initialize a list `numbers` with integers from 1 to 5.
3. Access the third element of the `numbers` list.
4. Append the number 6 to the `numbers` list.
5. Extend the `numbers` list with another list `[7, 8, 9]`.
6. Remove the element with the value 3 from the `numbers` list.
7. Check if the value 5 is present in the `numbers` list.
8. Find the index of the element with the value 8 in the `numbers` list.
9. Count the number of occurrences of 2 in the `numbers` list.
10. Reverse the order of elements in the `numbers` list.
11. Sort the `numbers` list in ascending order.
12. Create a new list `squares` containing the square of each number in the `numbers` list.
13. Extract a sublist from `numbers` with elements from index 2 to 4.
14. Create a list of lists, `matrix`, representing a 2x2 matrix.
15. Flatten the `matrix` into a single list.
16. Use list comprehension to create a list of even numbers from 1 to 10.
17. Zip two lists, `names` and `ages`, into a list of tuples.
18. Unpack the tuples from the previous question into separate lists.
19. Copy the `numbers` list to a new list named `numbers_copy`.
20. Clear all elements from the `numbers_copy` list.
21. Check if two lists, `list1` and `list2`, are equal.
22. Create a list of the first five letters of the alphabet.
23. Insert the letter 'X' at index 2 in the alphabet list.
24. Remove the last element from the alphabet list.
25. Use slicing to get the last three elements of the alphabet list.
26. Create a list of 10 zeros using a list comprehension.
27. Find the maximum and minimum values in the `numbers` list.
28. Remove duplicates from a list `duplicates` while preserving the order.
29. Combine two lists, `list1` and `list2`, into a single list.
30. Create a list of the squares of even numbers from 1 to 10 using a lambda function and `map`.

**1. Create an empty list named my_list.**

In [1]:
my_list = []

**2. Initialize a list numbers with integers from 1 to 5.**

In [2]:
l1 = [1,2,3,4,5]
print(l1)

[1, 2, 3, 4, 5]

**3. Access the third element of the numbers list.**

In [3]:
third_element = l1[2]
print(third_element)

3

**4. Append the number 6 to the numbers list.**

In [4]:
l1.append(6)
print(l1)

[1, 2, 3, 4, 5, 6]

**5. Extend the numbers list with another list [7, 8, 9].**

In [5]:
l2 = [7,8,9]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**6. Remove the element with the value 3 from the numbers list.**

In [6]:
l1.remove(3)
print(l1)

[1, 2, 4, 5, 6, 7, 8, 9]

**7. Check if the value 5 is present in the numbers list.**

In [7]:
if 5 in l1:
  print('value 5 is available')

value 5 is available

**8. Find the index of the element with the value 8 in the numbers list.**

In [8]:
index = l1.index(8)
print(index)

6

**9. Count the number of occurrences of 2 in the numbers list.**

In [10]:
occurence = l1.count(2)
print(f'The total number of occureance of 2 is: {occurence}')

The total number of occureance of 2 is: 1

**10. Reverse the order of elements in the numbers list.**

In [14]:
reverse_element = l1[::-1]
print(reverse_element)

[9, 8, 7, 6, 5, 4, 2, 1]

11. Sort the `numbers` list in ascending order.
12. Create a new list `squares` containing the square of each number in the `numbers` list.
13. Extract a sublist from `numbers` with elements from index 2 to 4.
14. Create a list of lists, `matrix`, representing a 2x2 matrix.
15. Flatten the `matrix` into a single list.
16. Use list comprehension to create a list of even numbers from 1 to 10.
17. Zip two lists, `names` and `ages`, into a list of tuples.
18. Unpack the tuples from the previous question into separate lists.
19. Copy the `numbers` list to a new list named `numbers_copy`.
20. Clear all elements from the `numbers_copy` list.
21. Check if two lists, `list1` and `list2`, are equal.
22. Create a list of the first five letters of the alphabet.
23. Insert the letter 'X' at index 2 in the alphabet list.
24. Remove the last element from the alphabet list.
25. Use slicing to get the last three elements of the alphabet list.
26. Create a list of 10 zeros using a list comprehension.
27. Find the maximum and minimum values in the `numbers` list.
28. Remove duplicates from a list `duplicates` while preserving the order.
29. Combine two lists, `list1` and `list2`, into a single list.
30. Create a list of the squares of even numbers from 1 to 10 using a lambda function and `map`.

**11. Sort the numbers list in ascending order.**

In [18]:
sorted_list = sorted(l1)
print(sorted_list)

[1, 2, 4, 5, 6, 7, 8, 9]

**12. Create a new list squares containing the square of each number in the numbers list.**

In [19]:
squares = l1**2
print(squares)

TypeError: ignored